<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dress.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dress.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @dress.text %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dress.price %>
</p>

<%if signed_in?%>
  <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@movie), removeUrl: remove_from_cart_path(@movie)} do%>
    <i class="fi-shopping-cart"></i>
    <span><%=@cart_action%></span> Cart
  <%end%>
<%end%>

<%= link_to 'Edit', edit_dress_path(@dress) %> |
<%= link_to 'Back', dresses_path %>

<script>
$(window).load ->
  $('a[data-target]').click (e) ->
    e.preventDefault()
    $this = $(this)
    if $this.data('target') == 'Add to'
      url = $this.data('addurl')
      new_target = "Remove from"
    else
      url = $this.data('removeurl')
      new_target = "Add to"
    $.ajax url: url, type: 'put', success: (data) ->
      $('.cart-count').html(data)
      $this.find('span').html(new_target)
      $this.data('target', new_target)

    </script>